# FIFA Ranking - Selenium Scraper

!pip install selenium

In [ ]:
!pip install pymongo

In [2]:
#%pip install selenium

In [3]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import Select

In [3]:
print(selenium.__version__)

4.4.3

In [4]:
import pandas as pd
import numpy as np
import json
import os
import tqdm
import shutil
import zipfile
from zipfile import ZipFile
import requests

import datetime
from datetime import datetime
from datetime import date
from tqdm import tqdm
import time
import pymongo
import warnings
warnings.filterwarnings('ignore')

In [2]:
FIFA_homepage = 'https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022/'
FIFA_scores0 = 'scores-fixtures?country=IT&wtw-filter=ALL'
FIFA_website = FIFA_homepage + FIFA_scores0
print(FIFA_website)

https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022/scores-fixtures?country=IT&wtw-filter=ALL

In [3]:
first_path = r'XXXXXXXXXXXXXXXXXX'

path_desktop0 = 'Desktop'
path_download0 = 'Download'

path_desktop = os.path.join(first_path, path_desktop0)
path_download = os.path.join(first_path, path_download0)

driver0 = os.path.join(path_desktop
                       ,'msedgedriver108'
                       ,'msedgedriver'
                      )
driver0

'XXXXXXXXXXXXXXXXXX\\Desktop\\msedgedriver108\\msedgedriver'

In [7]:
driver = webdriver.Edge(executable_path=driver0)

In [8]:
FIFA_teams_website = "https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022/teams"
driver.get(FIFA_teams_website)

### please maximise Microsoft Edge web browser size

In [9]:
time.sleep(3)

## Reject all cookies

In [10]:
# cookies pop-up --> reject all cookies

delay = 10 #seconds

try:
    cookies = WebDriverWait(driver, delay).until(
                EC.presence_of_element_located((By.ID, 
                'onetrust-reject-all-handler'))).click()
except TimeoutException:
    print("no cookies pop-up")

In [11]:
time.sleep(3)

## World Cup 2022 - Teams

In [12]:
#FIFA_teams_website = "https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022/teams"
#driver.get(FIFA_teams_website)

teams0_short_names = WebDriverWait(driver, delay).until(
                EC.presence_of_all_elements_located((By.CLASS_NAME, 
                "flag-with-info_flagAbbr__Dn4Ab")))

teams0_short_names1 = []
for i in range(len(teams0_short_names)):
    teams0_short_names1.append(teams0_short_names[i].text)
    


teams0_long_names = WebDriverWait(driver, delay).until(
                EC.presence_of_all_elements_located((By.CLASS_NAME, 
                "flag-with-info_flagCountry__Yw8QR")))

teams0_long_names1 = []
for i in range(len(teams0_long_names)):
    teams0_long_names1.append(teams0_long_names[i].text)
    
    
df_team_names = pd.DataFrame(teams0_short_names1,
                            columns=['team_short_name'])
df_team_names['team_short_name'] = df_team_names['team_short_name'].str[1:-1]
df_team_names['team_long_name'] = teams0_long_names1
df_team_names['team_long_name_uppercase'] = df_team_names['team_long_name'].str.upper()

df_team_names

   team_short_name  team_long_name team_long_name_uppercase
0              ARG       Argentina                ARGENTINA
1              AUS       Australia                AUSTRALIA
2              BEL         Belgium                  BELGIUM
3              BRA          Brazil                   BRAZIL
4              CMR        Cameroon                 CAMEROON
5              CAN          Canada                   CANADA
6              CRC      Costa Rica               COSTA RICA
7              CRO         Croatia                  CROATIA
8              DEN         Denmark                  DENMARK
9              ECU         Ecuador                  ECUADOR
10             ENG         England                  ENGLAND
11             FRA          France                   FRANCE
12             GER         Germany                  GERMANY
13             GHA           Ghana                    GHANA
14             IRN            Iran                     IRAN
15             JPN           Japan                    JAPAN
16             KOR  Korea Republic           KOREA REPUBLIC
17             MEX          Mexico                   MEXICO
18             MAR         Morocco                  MOROCCO
19             NED     Netherlands              NETHERLANDS
20             POL          Poland                   POLAND
21             POR        Portugal                 PORTUGAL
22             QAT           Qatar                    QATAR
23             KSA    Saudi Arabia             SAUDI ARABIA
24             SEN         Senegal                  SENEGAL
25             SRB          Serbia                   SERBIA
26             ESP           Spain                    SPAIN
27             SUI     Switzerland              SWITZERLAND
28             TUN         Tunisia                  TUNISIA
29             USA   United States            UNITED STATES
30             URU         Uruguay                  URUGUAY
31             WAL           Wales                    WALES

## FIFA - Men's Ranking

In [13]:
men_ranking_website_url = "https://www.fifa.com/fifa-world-ranking/men?dateId=id13869"
driver.get(men_ranking_website_url)

time.sleep(2)
try:
    cookies0 = driver.find_element(By.ID, 'onetrust-reject-all-handler')
    cookies0.click()
except:
    pass
time.sleep(5)

In [14]:
dropdown_menu = "/html/body/div[1]/div/div[3]/main/section[1]/div/div/div[1]/div[2]/div/button/div"

option_22_Dec_2022 = "/html/body/div[1]/div/div[3]/main/section[1]/div/div/div[1]/div[2]/div/div/button[1]/div"
option_06_Oct_2022 = "/html/body/div[1]/div/div[3]/main/section[1]/div/div/div[1]/div[2]/div/div/button[2]"

### 22 Dec 2022

In [15]:
sel = driver.find_element(By.XPATH, dropdown_menu).click()
sel1 = driver.find_element(By.XPATH, option_22_Dec_2022).click()

time.sleep(5)

In [16]:
xpath_table000_header = "/html/body/div[1]/div/div[3]/main/section[2]/div/div/div[1]/table/thead/tr"
xpath_table010_header = driver.find_element(By.XPATH, xpath_table000_header)
#for i in xpath_table01:
    #print(i.text)
    
table_header00 = xpath_table010_header.text.split('\n')[:-1]
table_header00

['RK', 'Team', 'Total Points', 'Previous Points', '+/-']

In [18]:
right_arrow_button_XPATH = "html/body/div[1]/div/div[3]/main/section[2]/div/div/div[2]/div/div/div/div/div[3]/div/button"

xpath_table00 = "row_rankingTableFullRow__Y_A4i "
row_df_list = []

for pp in range(4):
    xpath_table01 = driver.find_elements(By.CLASS_NAME, xpath_table00)

    for z in xpath_table01:
        row_table_ranking = z.text.split("\n")

        if " " in row_table_ranking[-1]:
            ww = row_table_ranking[-1].split(" ")
            row_table_ranking2 = row_table_ranking[:-1]
            row_table_ranking3 = row_table_ranking2 + ww
        df_row000 = pd.DataFrame(row_table_ranking3
                            ,columns=['values']
                            )
        df_row000['index'] = table_header00
        df_row000 = df_row000.set_index('index').T.reset_index(drop=True)
        row_df_list.append(df_row000)
    
    right_arrow_button_click = driver.find_element(By.XPATH, 
                                                   right_arrow_button_XPATH).click()
    time.sleep(5)
    


row_df01 = pd.concat(row_df_list, ignore_index=True)

In [19]:
if 'USA' in list(row_df01['Team'].values):
    row_df01['Team'] = row_df01['Team'].replace(['USA'], 'United States')
if 'IR Iran' in list(row_df01['Team'].values):
    row_df01['Team'] = row_df01['Team'].replace(['IR Iran'], 'Iran')

In [20]:
row_df01.head()

index RK       Team Total Points Previous Points     +/-
0      1     Brazil      1840.77          1841.3   -0.53
1      2  Argentina      1838.38         1773.88   64.50
2      3     France      1823.39         1759.78   63.61
3      4    Belgium       1781.3         1816.71  -35.41
4      5    England      1774.19         1728.47   45.72

In [21]:
row_df01.tail()

index   RK           Team Total Points Previous Points    +/-
195    196          Tonga       861.81          861.81   0.00
196    197    Timor-Leste       860.45          860.06   0.39
197    198  Liechtenstein       859.84          862.39  -2.55
198    199     Seychelles       859.56          859.56   0.00
199    200      Gibraltar       858.04          852.16   5.88

In [22]:
row_df01.shape

(200, 5)

In [23]:
ranking_post_df0 = row_df01[['RK',
                            'Team',
                            'Total Points']].copy()

driver.quit()

### 6 Oct 2022

In [29]:
men_ranking_website_url = "https://www.fifa.com/fifa-world-ranking/men?dateId=id13869"
driver.get(men_ranking_website_url)

time.sleep(2)
try:
    cookies0 = driver.find_element(By.ID, 'onetrust-reject-all-handler')
    cookies0.click()
except:
    pass
time.sleep(5)

In [30]:
dropdown_menu = "/html/body/div[1]/div/div[3]/main/section[1]/div/div/div[1]/div[2]/div/button/div"

option_22_Dec_2022 = "/html/body/div[1]/div/div[3]/main/section[1]/div/div/div[1]/div[2]/div/div/button[1]/div"
option_06_Oct_2022 = "/html/body/div[1]/div/div[3]/main/section[1]/div/div/div[1]/div[2]/div/div/button[2]"

In [31]:
sel = driver.find_element(By.XPATH, dropdown_menu).click()
sel1 = driver.find_element(By.XPATH, option_06_Oct_2022).click()

time.sleep(5)

In [32]:
xpath_table000_header = "/html/body/div[1]/div/div[3]/main/section[2]/div/div/div[1]/table/thead/tr"
xpath_table010_header = driver.find_element(By.XPATH, xpath_table000_header)
#for i in xpath_table01:
    #print(i.text)
    
table_header00 = xpath_table010_header.text.split('\n')[:-1]
table_header00

['RK', 'Team', 'Total Points', 'Previous Points', '+/-']

In [36]:
right_arrow_button_XPATH = "html/body/div[1]/div/div[3]/main/section[2]/div/div/div[2]/div/div/div/div/div[3]/div/button"

xpath_table00 = "row_rankingTableFullRow__Y_A4i "
row_df_list = []

for pp in range(4):
    xpath_table01 = driver.find_elements(By.CLASS_NAME, xpath_table00)

    for z in xpath_table01:
        row_table_ranking = z.text.split("\n")

        if " " in row_table_ranking[-1]:
            ww = row_table_ranking[-1].split(" ")
            row_table_ranking2 = row_table_ranking[:-1]
            row_table_ranking3 = row_table_ranking2 + ww
        df_row000 = pd.DataFrame(row_table_ranking3
                            ,columns=['values']
                            )
        df_row000['index'] = table_header00
        df_row000 = df_row000.set_index('index').T.reset_index(drop=True)
        row_df_list.append(df_row000)
    
    right_arrow_button_click = driver.find_element(By.XPATH, 
                                                   right_arrow_button_XPATH).click()
    time.sleep(5)
    


row_df01 = pd.concat(row_df_list, ignore_index=True)

In [37]:
if 'USA' in list(row_df01['Team'].values):
    row_df01['Team'] = row_df01['Team'].replace(['USA'], 'United States')
if 'IR Iran' in list(row_df01['Team'].values):
    row_df01['Team'] = row_df01['Team'].replace(['IR Iran'], 'Iran')

In [38]:
row_df01.head()

index RK       Team Total Points Previous Points    +/-
0      1     Brazil       1841.3         1837.56   3.74
1      2    Belgium      1816.71         1821.92  -5.21
2      3  Argentina      1773.88         1770.65   3.23
3      4     France      1759.78         1764.85  -5.07
4      5    England      1728.47         1737.46  -8.99

In [39]:
row_df01.tail()

index   RK           Team Total Points Previous Points     +/-
195    196  Liechtenstein       862.39          873.99  -11.60
196    197          Tonga       861.81          861.81    0.00
197    198    Timor-Leste       860.06          860.06    0.00
198    199     Seychelles       859.56          860.48   -0.92
199    200        Eritrea       855.56          855.56    0.00

In [40]:
row_df01.shape

(200, 5)

In [41]:
ranking_pre_df0 = row_df01[['RK',
                            'Team',
                            'Total Points']].copy()

In [42]:
ranking_pre_df0 = ranking_pre_df0.rename(
                    columns={'RK':'Rank pre'
                            ,'Total Points':'Previous Points'})

ranking_post_df0 = ranking_post_df0.rename(
                    columns={'RK':'Rank post'
                            #,'Total Points':'Previous Points'
                            })

In [43]:
driver.quit()

## Data Integration

In [44]:
df_team_names.head(2)

  team_short_name team_long_name team_long_name_uppercase
0             ARG      Argentina                ARGENTINA
1             AUS      Australia                AUSTRALIA

In [45]:
df_team_names1 = pd.merge(df_team_names,
                         ranking_pre_df0,
                         how='left',
                         left_on='team_long_name',
                          right_on='Team'
                         )[['Rank pre',
                            'Team',
                            'team_long_name_uppercase',
                            'Previous Points']]

df_team_names1 = pd.merge(df_team_names1,
                         ranking_post_df0,
                         how='left',
                          on='Team'
                         )[['Rank pre',
                            'Rank post',
                            'team_long_name_uppercase',
                            'Previous Points',
                            'Total Points']].rename(
                                columns={'team_long_name_uppercase':'Team'})

df_team_names1.head(2)

  Rank pre Rank post       Team Previous Points Total Points
0        3         2  ARGENTINA         1773.88      1838.38
1       38        27  AUSTRALIA         1488.72      1533.97

In [46]:
df_team_names1.shape

(32, 5)

In [47]:
ranking = df_team_names1.copy()

# import su mongo

In [8]:
ranking_json=ranking.to_json(orient="records")
ranking_json = json.loads(ranking_json)
json.dumps(ranking_json, indent=4)
ranking_json

[{'Rank pre': 3,
  'Rank post': 2,
  'Team': 'ARGENTINA',
  'Previous Points': 1773.88,
  'Total Points': 1838.38},
 {'Rank pre': 38,
  'Rank post': 27,
  'Team': 'AUSTRALIA',
  'Previous Points': 1488.72,
  'Total Points': 1533.97},
 {'Rank pre': 2,
  'Rank post': 4,
  'Team': 'BELGIUM',
  'Previous Points': 1816.71,
  'Total Points': 1781.3},
 {'Rank pre': 1,
  'Rank post': 1,
  'Team': 'BRAZIL',
  'Previous Points': 1841.3,
  'Total Points': 1840.77},
 {'Rank pre': 43,
  'Rank post': 33,
  'Team': 'CAMEROON',
  'Previous Points': 1471.44,
  'Total Points': 1499.3},
 {'Rank pre': 41,
  'Rank post': 53,
  'Team': 'CANADA',
  'Previous Points': 1475.0,
  'Total Points': 1431.64},
 {'Rank pre': 31,
  'Rank post': 32,
  'Team': 'COSTA RICA',
  'Previous Points': 1503.59,
  'Total Points': 1500.18},
 {'Rank pre': 12,
  'Rank post': 7,
  'Team': 'CROATIA',
  'Previous Points': 1645.64,
  'Total Points': 1727.62},
 {'Rank pre': 10,
  'Rank post': 18,
  'Team': 'DENMARK',
  'Previous Points': 1666.57,
  'Total Points': 1608.11},
 {'Rank pre': 44,
  'Rank post': 41,
  'Team': 'ECUADOR',
  'Previous Points': 1464.39,
  'Total Points': 1477.32},
 {'Rank pre': 5,
  'Rank post': 5,
  'Team': 'ENGLAND',
  'Previous Points': 1728.47,
  'Total Points': 1774.19},
 {'Rank pre': 4,
  'Rank post': 3,
  'Team': 'FRANCE',
  'Previous Points': 1759.78,
  'Total Points': 1823.39},
 {'Rank pre': 11,
  'Rank post': 14,
  'Team': 'GERMANY',
  'Previous Points': 1650.21,
  'Total Points': 1646.91},
 {'Rank pre': 61,
  'Rank post': 58,
  'Team': 'GHANA',
  'Previous Points': 1393.0,
  'Total Points': 1400.02},
 {'Rank pre': 20,
  'Rank post': 24,
  'Team': 'IRAN',
  'Previous Points': 1564.61,
  'Total Points': 1551.73},
 {'Rank pre': 24,
  'Rank post': 20,
  'Team': 'JAPAN',
  'Previous Points': 1559.54,
  'Total Points': 1593.08},
 {'Rank pre': 28,
  'Rank post': 25,
  'Team': 'KOREA REPUBLIC',
  'Previous Points': 1530.3,
  'Total Points': 1539.49},
 {'Rank pre': 13,
  'Rank post': 15,
  'Team': 'MEXICO',
  'Previous Points': 1644.89,
  'Total Points': 1635.78},
 {'Rank pre': 22,
  'Rank post': 11,
  'Team': 'MOROCCO',
  'Previous Points': 1563.5,
  'Total Points': 1672.35},
 {'Rank pre': 8,
  'Rank post': 6,
  'Team': 'NETHERLANDS',
  'Previous Points': 1694.51,
  'Total Points': 1740.92},
 {'Rank pre': 26,
  'Rank post': 22,
  'Team': 'POLAND',
  'Previous Points': 1548.59,
  'Total Points': 1559.83},
 {'Rank pre': 9,
  'Rank post': 9,
  'Team': 'PORTUGAL',
  'Previous Points': 1676.56,
  'Total Points': 1702.54},
 {'Rank pre': 50,
  'Rank post': 60,
  'Team': 'QATAR',
  'Previous Points': 1439.89,
  'Total Points': 1393.56},
 {'Rank pre': 51,
  'Rank post': 49,
  'Team': 'SAUDI ARABIA',
  'Previous Points': 1437.78,
  'Total Points': 1438.13},
 {'Rank pre': 18,
  'Rank post': 19,
  'Team': 'SENEGAL',
  'Previous Points': 1584.38,
  'Total Points': 1603.98},
 {'Rank pre': 21,
  'Rank post': 29,
  'Team': 'SERBIA',
  'Previous Points': 1563.62,
  'Total Points': 1526.46},
 {'Rank pre': 7,
  'Rank post': 10,
  'Team': 'SPAIN',
  'Previous Points': 1715.22,
  'Total Points': 1692.71},
 {'Rank pre': 15,
  'Rank post': 12,
  'Team': 'SWITZERLAND',
  'Previous Points': 1635.92,
  'Total Points': 1655.02},
 {'Rank pre': 30,
  'Rank post': 30,
  'Team': 'TUNISIA',
  'Previous Points': 1507.54,
  'Total Points': 1526.2},
 {'Rank pre': 16,
  'Rank post': 13,
  'Team': 'UNITED STATES',
  'Previous Points': 1627.48,
  'Total Points': 1652.74},
 {'Rank pre': 14,
  'Rank post': 16,
  'Team': 'URUGUAY',
  'Previous Points': 1638.71,
  'Total Points': 1627.45},
 {'Rank pre': 19,
  'Rank post': 28,
  'Team': 'WALES',
  'Previous Points': 1569.82,
  'Total Points': 1530.28}]

In [9]:
connessione = pymongo.MongoClient("mongodb://localhost:27017/")#stabilisce una connessione
WorldCupDb = connessione["WorldCup"] #crea DB
WorldCupCollection = WorldCupDb["WorldCupRanking"] #crea collezione all'interno del db
for i in range(0,len(ranking_json)):
    inserimento = WorldCupCollection.insert_one(ranking_json[i])

## Export Dataset in csv format

In [48]:
ranking.to_csv(path_or_buf=os.path.join(
                    path_download, 'FIFA_Rankings.csv')
               ,sep=";"
               ,header=True
               ,index=False
              )